.storybook-answer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: inset;
    border-radius: 25px;
    text-align: center;
}

.storybook-answer--primary {
    background-color: blue;
    color: white;
}

.storybook-answer--secondary {
    background-color: green;
    color: white;
}

.storybook-answer--small {
    width: 50px;
    height: 12px;
    padding: auto;
    font-size: small;
}

.storybook-answer--medium {
    width: 100px;
    height: 25px;
    padding: auto;
    font-size: medium;
}

.storybook-answer--large {
    width: 200px;
    height: 50px;
    padding: auto;
    font-size: large;
}