.answer {
  font-family: "Sofia";
  font-size: 2em;
  border-style: inset;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;
}

.neutral {
  background-color: #b3d6c8;
  color: black;
}

.correct {
  background-color: #02ff00;
  color: black;
}

.false {
  background-color: #eb1e1e;
  color: black;
}

.size {
  width: 66%;
  padding: auto;
}
